<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.icarowner.icarowner">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- talking data -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 支付宝权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 云吧推送权限配置 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 位置相关权限，不是必须添加 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- share SDK权限配置 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".ICarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="我是车主"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.ServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 自定义 Receiver 接收 Publish 消息 -->
        <receiver android:name=".push.MQTTPushReceiver">
            <intent-filter>
                <action android:name="mqtt.icarowner.android.PUSH_MESSAGE_RECEIVED_ACTION" />

                <category android:name="cn.icarowner.icarowner" />
            </intent-filter>
        </receiver>

        <!-- ***********************微信支付的回调******************************************** -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ********************************************TALKING DATA********************************************************** -->


        <!-- TalkingData -->
        <meta-data
            android:name="TD_APP_ID"
            android:value="EB251BC387184FEBBE2886C7C7684E93" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_ID_VALUE}" />

        <!-- *********************************************************************************************************************** -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluateListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluateDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvisorDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvisorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PersonalInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CouponListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChoiceCouponListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DealerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyMyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReceiveCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".activity.ScheduleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BalanceChangeRecordListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BillActivity"
            android:screenOrientation="portrait" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- ****************支付宝********************************** -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- ************************************************************ -->
        <activity
            android:name=".activity.GroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CouponIntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RouteActivity"
            android:screenOrientation="portrait" />

        <!-- Mqtt Service -->
        <service
            android:name="org.eclipse.paho.android.service.MqttService"
            android:enabled="true" />
        <service android:name=".push.MQTTService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.icarowner.icarowner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".service.UpdateVersionService">
            <intent-filter>
                <action android:name="updateVersion" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
    </application>

</manifest>